# <center>Projeto COVID-19</center>

## <center>COVID-19 Forecasting</center>


![COVID-19](img/covid.jpg)

In [1]:
# Add libs
import pandas as pd
import numpy as np
from datetime import datetime
import plotly.express as px
import plotly.graph_objects as go

In [2]:
# Importando dados para o projeto
url = 'covid_19_data.csv'
df = pd.read_csv(url, parse_dates=['ObservationDate', 'Last Update'])
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,2021-05-29,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,2021-05-29,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,2021-05-29,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,2021-05-29,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [3]:
# Amostra de Dados
df.sample(15)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
88378,88379,2020-08-15,Orebro,Sweden,2021-04-02 15:13:53,2601.0,171.0,0.0
178222,178223,2020-12-13,Cantabria,Spain,2021-04-02 15:13:53,16532.0,340.0,2287.0
139754,139755,2020-10-23,Kentucky,US,2021-04-02 15:13:53,93748.0,1396.0,0.0
118813,118814,2020-09-25,Kagawa,Japan,2021-04-02 15:13:53,94.0,2.0,83.0
222504,222505,2021-02-09,Bashkortostan Republic,Russia,2021-04-02 15:13:53,25731.0,210.0,19555.0
109996,109997,2020-09-13,Novgorod Oblast,Russia,2021-04-02 15:13:53,4661.0,86.0,3435.0
69554,69555,2020-07-21,Jiangxi,Mainland China,2021-04-02 15:13:53,932.0,1.0,931.0
30351,30352,2020-05-27,NaN,Jordan,2021-04-02 15:13:53,720.0,9.0,586.0
96329,96330,2020-08-26,Dalarna,Sweden,2021-04-02 15:13:53,2106.0,174.0,0.0
170494,170495,2020-12-03,NaN,Timor-Leste,2021-04-02 15:13:53,31.0,0.0,30.0
195991,195992,2021-01-05,Massachusetts,US,2021-04-02 15:13:53,397202.0,12734.0,0.0
245704,245705,2021-03-11,Maule,Chile,2021-04-02 15:13:53,46164.0,896.0,43216.0
18023,18024,2020-04-23,NaN,Iceland,2020-04-24 03:31:35,1789.0,10.0,1509.0
292462,292463,2021-05-11,Parana,Brazil,2021-05-12 04:21:29,992600.0,23993.0,700241.0
15237,15238,2020-04-14,Curacao,Netherlands,2020-04-14 23:41:11,14.0,1.0,10.0